{% extends "page-base.html" %}
{% load static %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!-- REQUIRED META TAGS -->
        <!--<meta charset="utf-8">-->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta name="description" content="Sufee Admin - HTML5 Admin Template">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!--FAVICON-->
        <!--<link rel="apple-touch-icon" href="apple-icon.png">-->
        <!--<link rel="shortcut icon" href="favicon.ico">-->
        <!--BOOTSTRAP CSS-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
        <!--SUFEE-ADMIN-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">-->
        <!--STYLES-->
        <!--<link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">-->
        <!--FONTS-->
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>-->
        <!--PAGE CSS-->
        {% block css %}
        <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}">
        {% endblock %}
        {% block title %}{{ title }}{% endblock %}
    <!--</head>-->
    {% block content %}
    <body>
        <!--LEFT-PANEL-->
        {% include 'component-left-panel.html' %}
        <!--#LEFT-PANEL-->
        <!--RIGHT-PANEL-->
        <div id="right-panel" class="right-panel">
            <!--HEADER-->
            <header id="header" class="header">
                <div class="header-menu">
                    <!--HEADER-ITEM-->
                    {% include 'component-header-item.html' %}
                    <!--#HEADER-ITEM-->
                    <!--PROFILE-->
                    {% include 'component-profile.html' %}
                    <!--#PROFILE-->
                </div>
            </header>
            <!--#HEADER-->
            <!--BREADCRUMBS-->
            {% include 'component-breadcrumbs.html' %}
            <!--#BREADCRUMBS-->
            <!--CONTENTS-->
            <div class="content mt-3">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-1">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-menu-content">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">
                                <span class="count">10468</span>
                            </h4>
                            <p class="text-light">Members online</p>
                            <div class="chart-wrapper px-0" style="height:70px;" height="70">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-2">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-menu-content">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">
                                <span class="count">10468</span>
                            </h4>
                            <p class="text-light">Members online</p>
                            <div class="chart-wrapper px-0" style="height:70px;" height="70">
                                <canvas id="widgetChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-3">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-menu-content">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">
                                <span class="count">10468</span>
                            </h4>
                            <p class="text-light">Members online</p>
                        </div>
                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <canvas id="widgetChart3"></canvas>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-4">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-menu-content">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">
                                <span class="count">10468</span>
                            </h4>
                            <p class="text-light">Members online</p>
                            <div class="chart-wrapper px-3" style="height:70px;" height="70">
                                <canvas id="widgetChart4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-wrapper mt-4" >
                                <canvas id="trafficChart" style="height:200px;" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--#CONTENTS-->
        </div>
        <!--#RIGHT-PANEL-->
        <!--SCRIPTS-->
        {% include 'script-home.html' %}
        <!--#SCRIPTS-->
    </body>
    {% endblock %}
<!--</html>-->