{% extends "page-base-admin.html" %}
{% load static %}
{% load widget_tweaks %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!-- REQUIRED META TAGS -->
        <!--<meta charset="utf-8">-->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta name="description" content="Sufee Admin - HTML5 Admin Template">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!--FAVICON-->
        <!--<link rel="apple-touch-icon" href="apple-icon.png">-->
        <!--<link rel="shortcut icon" href="favicon.ico">-->
        <!--BOOTSTRAP CSS-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
        <!--SUFEE-ADMIN-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">-->
        <!--STYLES-->
        <!--<link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">-->
        <!--FONTS-->
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>-->
        <!--PAGE CSS-->
        {% block css %}{% endblock %}
        {% block title %}{{ title }}{% endblock %}
    <!--</head>-->
    <!--<body>-->
        <!--LEFT-PANEL-->
        {% block left-panel %}
        {% include 'component-left-panel.html' %}
        {% endblock %}
        <!--#LEFT-PANEL-->
        <!--RIGHT-PANEL-->
        <div id="right-panel" class="right-panel">
            <!--HEADER-->
            <header id="header" class="header">
                <div class="header-menu">
                    <!--HEADER-ITEM-->
                    {% block header-item %}
                    {% include 'component-header-item.html' %}
                    {% endblock %}
                    <!--#HEADER-ITEM-->
                    <!--PROFILE-->
                    {% block profile %}
                    {% include 'component-profile.html' %}
                    {% endblock %}
                    <!--#PROFILE-->
                </div>
            </header>
            <!--#HEADER-->
            <!--BREADCRUMBS-->
            {% block breadcrumbs %}
            {% include 'component-breadcrumbs.html' %}
            {% endblock %}
            <!--#BREADCRUMBS-->
            <!--CONTENTS-->
            {% block content %}
            <div class="content mt-3">
                <div class="animated">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-6">
                            {% for message in messages %}
                            <div class="sufee-alert alert with-close {{ message.extra_tags }} alert-dismissible fade show">
                                {{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            {% endfor %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="default-tab">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Site & Contact Edit</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content pl-3 pt-2 pr-3" id="nav-tabContent">
                                            <div>
                                                <form id="site-form" action="{% url 'site_detail_edit' site_id %}" method="post">
                                                    {% csrf_token %}
                                                    {{ site_form.non_field_errors }}
                                                    {% for hidden_field in site_form.hidden_fields %}
                                                        {{ hidden_field }}
                                                        {{ hidden_field.errors }}
                                                    {% endfor %}
                                                    {% for field in site_form.visible_fields %}
                                                    <div class="form-group row">
                                                        <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                                                        {% if site_form.is_bound %}
                                                        {% if field.errors %}
                                                        {% render_field field class="col-sm-9 form-control" %}
                                                        {% for error in field.errors %}
                                                        <span class="offset-sm-3 small text-danger">{{ error }}</span>
                                                        {% endfor %}
                                                        {% else %}
                                                        {% render_field field class="col-sm-9 form-control" %}
                                                        {% endif %}
                                                        {% else %}
                                                        {% render_field field class="col-sm-9 form-control" %}
                                                        {% endif %}
                                                        {% if field.help_text %}
                                                        <small class="offset-sm-3 form-text text-muted">{{ field.help_text }}</small>
                                                        {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                    <hr/>
                                                    <button class="btn btn-secondary btn-sm mb-3" type="button" data-toggle="collapse" data-target="#contact-collapse" aria-expanded="false" aria-controls="contact-collapse">Contacts</button>
                                                    <div class="collapse" id="contact-collapse">
                                                        <div class="dynamic-stuff">
                                                            {% if contacts_form %}
                                                            {% for data_contacts_form in contacts_form %}
                                                            <div class="form-group dynamic-element">
                                                                <div class="input-group">
                                                                    {% for hidden_field in data_contacts_form.hidden_fields %}
                                                                    {% render_field hidden_field %}
                                                                    {{ hidden_field.errors }}
                                                                    {% endfor %}
                                                                    {% for field in data_contacts_form.visible_fields %}
                                                                    {% if site_form.is_bound %}
                                                                    {% if field.errors %}
                                                                    {% render_field field %}
                                                                    {% for error in field.errors %}
                                                                    <span class="offset-sm-3 small text-danger">{{ error }}</span>
                                                                    {% endfor %}
                                                                    {% else %}
                                                                    {% render_field field %}
                                                                    {% endif %}
                                                                    {% else %}
                                                                    {% render_field field %}
                                                                    {% endif %}
                                                                    {% if field.help_text %}
                                                                    <small class="offset-sm-3 form-text text-muted">{{ field.help_text }}</small>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                    <button type="button" class="btn btn-danger btn-sm delete-contact"><i class="fa fa-times"></i></button>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            {% else %}
                                                            <div class="alert alert-dark" role="alert">No contact information.</div>
                                                            {% endif %}
                                                        </div>
                                                        <div><button type="button" class="btn btn-success btn-sm add-one"><i class="fa fa-plus"></i>&nbsp;Add</button></div>
                                                    </div>
                                                    <hr/>
                                                    <div class="card-text text-sm-right">
                                                        <a class="small"><button type="submit" class="btn btn-primary btn-sm" id="submit-site-contact">Submit</button></a>
                                                        <a class="small"><button type="reset" class="btn btn-danger btn-sm" id="reset-site-contact">Reset</button></a>
                                                        <a class="small" href=".."><button type="button" class="btn btn-secondary btn-sm">Cancel</button></a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--#CONTENTS-->
        </div>
        <!--#RIGHT-PANEL-->
        <!--SCRIPTS-->
        {% block scripts %}
        {% include 'script-site-detail.html' %}
        <script src="{% static '/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static '/assets/js/falconet.site.js' %}"></script>
        <script>
            //jQuery(document).ready(function($){
            //    $("#site-form").validate({
            //        errorClass: "invalid-error",
            //        errorElement: "span",
            //    });
            //    $("span.invalid-error" ).addClass( "offset-sm-3 text-danger small" );
            //});
        </script>
        {% endblock %}
        <!--#SCRIPTS-->
    <!--</body>-->
<!--</html>-->
