{% extends "page-base-admin.html" %}
{% load static %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!-- REQUIRED META TAGS -->
        <!--<meta charset="utf-8">-->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta name="description" content="Sufee Admin - HTML5 Admin Template">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!--FAVICON-->
        <!--<link rel="apple-touch-icon" href="apple-icon.png">-->
        <!--<link rel="shortcut icon" href="favicon.ico">-->
        <!--BOOTSTRAP CSS-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
        <!--SUFEE-ADMIN-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">-->
        <!--STYLES-->
        <!--<link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">-->
        <!--FONTS-->
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>-->
        <!--PAGE CSS-->
        {% block css %}{% endblock %}
        {% block title %}{{ title }}{% endblock %}
    <!--</head>-->
    <!--<body>-->
        <!--LEFT-PANEL-->
        {% block left-panel %}
        {% include 'component-left-panel.html' %}
        {% endblock %}
        <!--#LEFT-PANEL-->
        <!--RIGHT-PANEL-->
        <div id="right-panel" class="right-panel">
            <!--HEADER-->
            <header id="header" class="header">
                <div class="header-menu">
                    <!--HEADER-ITEM-->
                    {% block header-item %}
                    {% include 'component-header-item.html' %}
                    {% endblock %}
                    <!--#HEADER-ITEM-->
                    <!--PROFILE-->
                    {% block profile %}
                    {% include 'component-profile.html' %}
                    {% endblock %}
                    <!--#PROFILE-->
                </div>
            </header>
            <!--#HEADER-->
            <!--BREADCRUMBS-->
            {% block breadcrumbs %}
            {% include 'component-breadcrumbs.html' %}
            {% endblock %}
            <!--#BREADCRUMBS-->
            <!--CONTENTS-->
            {% block content %}
            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="default-tab">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Site Info</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content pl-3 pt-2 pr-3" id="nav-tabContent">
                                            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">                    
                                                <form id="site-form" action="#" method="post">
                                                    <div class="form-group row">
                                                        {% csrf_token %}
                                                    </div>
                                                    <div class="form-group row">
                                                        {{ site_form.name.label_tag }}
                                                        <!--<label for="name" class="col-sm-3 col-form-label">Name</label>-->
                                                        <!--<label for="{{ site_form.name.id_for_label }}" class="col-sm-3 col-form-label">{{ site_form.name.id_for_label|title }}</label>-->
                                                        <div class="col-sm-9">
                                                            {{ site_form.name }}
                                                            <!--<input type="text" id="name" name="text-input" class="form-control" value="{{ sites_data.name }}" />-->
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                                        <div class="col-sm-9">
                                                            <textarea name="textarea-input" id="desc" rows="2" class="form-control" >{{ sites_data.description }}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="type" class="col-sm-3 col-form-label">Type</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="type" name="text-input" class="form-control" value="{{ sites_data.type }}" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="location" class="col-sm-3 col-form-label">Location / Address</label>
                                                        <div class="col-sm-9">
                                                            <textarea name="textarea-input" id="location" rows="3" class="form-control" >{{ sites_data.location }}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="city" class="col-sm-3 col-form-label">City</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="city" name="text-input" class="form-control" value="{{ sites_data.city }}" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="site-code" class="col-sm-3 col-form-label">Site Code</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="site-code" name="text-input" class="form-control"  value="{{ sites_data.site_code }}" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="area-code" class="col-sm-3 col-form-label">Area Code</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="area-code" name="text-input" class="form-control" value="{{ sites_data.area_code }}" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="ip-addr" class="col-sm-3 col-form-label">IP Address</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="ip-addr" name="text-input" class="form-control" value="{{ sites_data.ipadd }}" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="tagline" class="col-sm-3 col-form-label">Tagline</label>
                                                        <div class="col-sm-9">
                                                            <textarea name="textarea-input" id="tagline" rows="2" class="form-control" >{{ sites_data.tagline }}</textarea>
                                                        </div>
                                                    </div>
                                                </form>                   
                                            </div>
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <form id="contact-form">
                                                    <div class="dynamic-stuff">
                                                        {% if contacts_data %}                                            
                                                        {% for contact in contacts_data %}
                                                        <div class="form-group row dynamic-element">
                                                            <div class="col-sm-12">
                                                                <div class="input-group">
                                                                    <input type="hidden" name="contact_id[]" class="form-control" value="{{ contact.id }}" />
                                                                    <input type="hidden" class="is-deleted" value=0 />
                                                                    <select name="select" id="select" class="col-sm-3 form-control">
                                                                        {% for contype in contacts_type %}
                                                                        {% if contype.type == contact.type %}  
                                                                        <option value="{{ contype.type }}" selected="selected">{{ contype.type|upper }}</option>
                                                                        {% else %}
                                                                        <option value="{{ contype.type }}">{{ contype.type|upper }}</option>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                    </select>
                                                                    <input type="text" name="contact_number[]" class="form-control" value="{{ contact.contact_number }}" />
                                                                    <button type="button" class="btn btn-danger btn-sm delete-contact"><i class="fa fa-times"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        {% else %}
                                                        <div class="alert alert-dark" role="alert">No contact information.</div>
                                                        {% endif %}
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-success btn-sm add-one"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="card-text text-sm-right">
                                        <a class="small" href="#"><button type="button" class="btn btn-primary btn-sm">Submit</button></a>
                                        <a class="small" href="#"><button type="button" class="btn btn-danger btn-sm" id="reset-contact">Reset</button></a>
                                        <a class="small" href=".."><button type="button" class="btn btn-secondary btn-sm">Cancel</button></a>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--#CONTENTS-->
        </div>
        <!--#RIGHT-PANEL-->
        <!--SCRIPTS-->
        {% block scripts %}
        {% include 'script-site-detail.html' %}
        <script src="{% static '/js/custom.js' %}"></script>
        {% endblock %}
        <!--#SCRIPTS-->
    <!--</body>-->
<!--</html>-->