{% extends "page-base-admin.html" %}
{% load static %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!-- REQUIRED META TAGS -->
        <!--<meta charset="utf-8">-->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta name="description" content="Sufee Admin - HTML5 Admin Template">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!--FAVICON-->
        <!--<link rel="apple-touch-icon" href="apple-icon.png">-->
        <!--<link rel="shortcut icon" href="favicon.ico">-->
        <!--BOOTSTRAP CSS-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
        <!--SUFEE-ADMIN-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">-->
        <!--STYLES-->
        <!--<link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">-->
        <!--FONTS-->
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>-->
        <!--PAGE CSS-->
        {% block css %}{% endblock %}
        {% block title %}{{ title }}{% endblock %}
    <!--</head>-->
    <!--<body>-->
        <!--LEFT-PANEL-->
        {% block left-panel %}
        {% include 'component-left-panel.html' %}
        {% endblock %}
        <!--#LEFT-PANEL-->
        <!--RIGHT-PANEL-->
        <div id="right-panel" class="right-panel">
            <!--HEADER-->
            <header id="header" class="header">
                <div class="header-menu">
                    <!--HEADER-ITEM-->
                    {% block header-item %}
                    {% include 'component-header-item.html' %}
                    {% endblock %}
                    <!--#HEADER-ITEM-->
                    <!--PROFILE-->
                    {% block profile %}
                    {% include 'component-profile.html' %}
                    {% endblock %}
                    <!--#PROFILE-->
                </div>
            </header>
            <!--#HEADER-->
            <!--BREADCRUMBS-->
            {% block breadcrumbs %}
            {% include 'component-breadcrumbs.html' %}
            {% endblock %}
            <!--#BREADCRUMBS-->
            <!--CONTENTS-->
            {% block content %}
            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="default-tab">
                                        <a class=small" href="#"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a>
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Site Info</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content pl-0 pt-2" id="nav-tabContent">
                                            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th style="width: 30%">Name</th>
                                                            <td>{{ sites_data.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Description</th>
                                                            <td>{{ sites_data.description }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Type</th>
                                                            <td>{{ sites_data.type }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Location / Address</th>
                                                            <td>{{ sites_data.location }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>City</th>
                                                            <td>{{ sites_data.city }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <td>{{ sites_data.site_code }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Area Code</th>
                                                            <td>{{ sites_data.area_code }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>IP Address</th>
                                                            <td>{{ sites_data.ipadd }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Tagline</th>
                                                            <td>{{ sites_data.tagline }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <table class="table">
                                                    <tbody>
                                                        {% for contact in contacts_data %}
                                                        <tr>
                                                            <th style="width: 30%">{{ contact.type|title }}</th>
                                                            <td>{{ contact.contact_number }}</td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr>
                                                            <td><div class="alert alert-dark" role="alert">No contact information.</div></td>
                                                        <tr>
                                                        {% endfor %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--#CONTENTS-->
        </div>
        <!--#RIGHT-PANEL-->
        <!--SCRIPTS-->
        {% block scripts %}
        {% include 'script-site-detail.html' %}
        {% endblock %}
        <!--#SCRIPTS-->
    <!--</body>-->
<!--</html>-->