{% extends "page-base-admin.html" %}
{% load static %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!-- REQUIRED META TAGS -->
        <!--<meta charset="utf-8">-->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta name="description" content="Sufee Admin - HTML5 Admin Template">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!--FAVICON-->
        <!--<link rel="apple-touch-icon" href="apple-icon.png">-->
        <!--<link rel="shortcut icon" href="favicon.ico">-->
        <!--BOOTSTRAP CSS-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
        <!--SUFEE-ADMIN-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">-->
        <!--STYLES-->
        <!--<link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">-->
        <!--FONTS-->
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>-->
        <!--PAGE CSS-->
        {% block css %}{% endblock %}
        {% block title %}{{ title }}{% endblock %}
    <!--</head>-->
    <!--<body>-->
        <!--LEFT-PANEL-->
        {% block left-panel %}
        {% include 'component-left-panel.html' %}
        {% endblock %}
        <!--#LEFT-PANEL-->
        <!--RIGHT-PANEL-->
        <div id="right-panel" class="right-panel">
            <!--HEADER-->
            <header id="header" class="header">
                <div class="header-menu">
                    <!--HEADER-ITEM-->
                    {% block header-item %}
                    {% include 'component-header-item.html' %}
                    {% endblock %}
                    <!--#HEADER-ITEM-->
                    <!--PROFILE-->
                    {% block profile %}
                    {% include 'component-profile.html' %}
                    {% endblock %}
                    <!--#PROFILE-->
                </div>
            </header>
            <!--#HEADER-->
            <!--BREADCRUMBS-->
            {% block breadcrumbs %}
            {% include 'component-breadcrumbs.html' %}
            {% endblock %}
            <!--#BREADCRUMBS-->
            <!--CONTENTS-->
            {% block content %}
            <div class="content mt-3">
                <div class="animated">
                    <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <form action="/sites/del/" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticModalLabel">Delete Site</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ site_data.id }}" class="form-control" id="id">
                                        <p>Are you sure want to delete this site and all other data referenced on this site like contacts, links, and asset placement?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-sm btn-primary">Confirm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-lg-6">
                            {% for message in messages %}
                            <div class="sufee-alert alert with-close {{ message.extra_tags }} alert-dismissible fade show">
                                {{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            {% endfor %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="default-tab">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Site Info</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content pl-3 pt-2 pr-3" id="nav-tabContent">
                                            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th style="width: 30%">Name</th>
                                                            <td>{{ site_data.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Type</th>
                                                            <td>{{ site_data.type }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Location</th>
                                                            <td>{{ site_data.location }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>City</th>
                                                            <td>{{ site_data.city }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Description</th>
                                                            <td>{{ site_data.description }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>IP Address</th>
                                                            <td>{{ site_data.ipadd }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <td>{{ site_data.site_code }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Area Code</th>
                                                            <td>{{ site_data.area_code }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Tagline</th>
                                                            <td>{{ site_data.tagline }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                {% if contacts_data %}
                                                <table class="table">
                                                    <tbody>
                                                        {% for contact in contacts_data %}
                                                        <tr>
                                                            <th style="width: 30%">{{ contact.type|title }}</th>
                                                            <td>{{ contact.contact_number }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                {% else %}
                                                <div class="alert alert-dark" role="alert">No contact information.</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="card-text text-sm-right">
                                        <a class="small" href="./edit/"><button type="button" class="btn btn-primary btn-sm">Edit</button></a>
                                        <a class="small" href="#"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#staticModal">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--#CONTENTS-->
        </div>
        <!--#RIGHT-PANEL-->
        <!--SCRIPTS-->
        {% block scripts %}
        {% include 'script-site-detail.html' %}
        {% endblock %}
        <!--#SCRIPTS-->
    <!--</body>-->
<!--</html>-->
